## ===== Python backend =====
.venv/
.env
*.sqlite3
__pycache__/
*.pyc

## ===== macOS =====
.DS_Store

## ===== Xcode / iOS =====
xcuserdata/
*.xcuserstate
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.hmap
*.xccheckout
.build/
.swiftpm/
Pods/
